@font-face {
	font-family: 'BlockBeCnPro';
	src: url('../font/blockpropluscon-webfont.woff');
}
@font-face {
	font-family: 'fs_sammyregular';
	src: url('../font/fs_sammy-regular-webfont-webfont.woff');
}
body {
	overflow-x: hidden;
	background-image: url('../img/bg.svg');
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'BlockBeCnPro';
}
.header {
	background: transparent;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
	transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero {
	background-image: url('../img/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 90vh;
	margin-top: -74px;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
}
.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #0f202770;
	background: -webkit-linear-gradient(to right, #2c536470, #203a4370, #0f202770);
	background: linear-gradient(to right, #2c536470, #203a4370, #0f202770);
	z-index: 1;
}
.subtitle {
	font-size: 3rem;
	letter-spacing: 2px;
}
.subtitle span {
	font-size: 5rem;
	letter-spacing: 2px;
	color: sandybrown;
}
.oferta {
	color: red;
}
.hero2 {
	height: 400px;
	width: 100%;
	background-image: url('https://scontent.ftgu4-1.fna.fbcdn.net/v/t1.0-9/34511297_1375006315932529_8139288159239274496_o.jpg?_nc_cat=105&ccb=2&_nc_sid=e3f864&_nc_eui2=AeHmRsmwbP9R1N0noz1FMYM6Tsi8Frk-BdlOyLwWuT4F2Z7SMdKUrGLYrw3vfIzlNUZWtKr5x_pP449Yj996cwFg&_nc_ohc=t1-hQUElQu4AX-ezCQA&_nc_ht=scontent.ftgu4-1.fna&oh=525520dd8182eaa8c2ee81029988faf4&oe=5FC4D1B6');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#slogan {
	width: 100%;
	background-image: url('../img/ourstory.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
#slogan h1 {
	font-size: 5.625rem;
}
#slogan p {
	font-family: 'fs_sammyregular';
	font-size: 2.25rem;
}
.hero2 img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.icon-services {
	font-size: 3.5rem;
}
#slogan,
#menu,
#ofertas,
#contacto,
#acerca,
#recetas,
#servicios,
#empleados,
#videos {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.social-icon {
	color: white;
	font-size: 1.5rem;
}
.social-icon:hover {
	color: tomato;
	text-decoration: none;
}
.opaque {
	background: #161616ea;
}
.card-header {
	background-color: #161616;
}
.card-header h2 button {
	color: white !important;
}
.card {
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover img {
	opacity: 0.9;
	cursor: pointer;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
	.header {
		background: #161616ea;
	}
	.hero {
		height: 100vh;
		margin-top: 0;
	}
	#slogan,
	#menu,
	#ofertas,
	#contacto,
	#acerca,
	#recetas,
	#servicios,
	#empleados,
	#videos {
		padding-top: 15rem;
		padding-bottom: 15rem;
	}
	#slogan h1 {
		font-size: 2.625rem;
	}
	#slogan p {
		font-size: 1.25rem;
	}
	.subtitle span {
		font-size: 3rem;
	}
}
